.header {
  padding: 50px 0;
}

.header__main {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__title h1{
  font-size: 31px;
  font-weight: 700px;
  text-transform: uppercase;
}

.header__busket {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 15px;
}

.busket__price {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
}

.busket__price p {
  text-align: end;
}

.busket {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: var(--main-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

.link__to__basket {
  color: var(--color-text);
  text-decoration: none;
}

.link__to__basket:hover {
  text-decoration: underline;
  transition: .12s all linear;
}