html {
  scroll-behavior: smooth;
  }

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-size: 17px;
  font-family: 'Montserrat', sans-serif;
  background: var(--background-dark);
  color: var(--color-text);
}

p, h1, h2, h3, h4, h5, h5 {
  margin: 0;
  padding: 0;
}